/*global*/
body {
  font-family: Arial;
}
img {
  max-width: 100%;
}
p {
  line-height: 2;
}
h1 {
  color: white;
  text-decoration-line: underline;
}

/*utilities*/
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
}
.btn {
  background-color: black;
}
.btn-more2 {
  background-color: sienna;
}
.bottom-line {
border-bottom: 1px solid lightgray;
margin-bottom: 10px;
}
/*header*/
.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.site-header {
 background-image: url(img/banner.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  height: 350px;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.main-flex{
  display: flex;
}
.blog-container{
  width: 40%;
  margin-right: 20px;
}
.courses-container{
  width: 40%;
  margin-left: 25px;
}
/*footer*/
footer {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}
footer a{
  color: white;

}
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
